.offerContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
}

.offerCard {
  cursor: pointer;
  background: #f2fff3;
  min-height: 120px;
  margin: 0 5px;
  border-radius: 0;
  width: 100%;
}
